/* =============================================
-- Author:		Sotivoli
-- Create date: 01  November 2024
-- Description:	Слияние таблиц
-- =============================================
	exec [dbo].[XE_Merge] 
		 @Steps	= '[dbo].[XEd_User]'	-- Обновляемая таблица
		,@Source	= '##tmp1'			-- таблица с новыми данными
		,@Option	= 'List Only'		-- опции
		,@Session	= 'sotivoli'  		-- сессия XE по умолчанию

-- ============================================= */

--	Declare
	drop procedure if exists	[dbo].[XE_Merge]
GO
	CREATE PROCEDURE			[dbo].[XE_Merge]
 @Steps		as nvarchar(max)	= null -- '[dbo].[XEd_User]'
,@Source	as nvarchar(128)	= null -- '##tmp1'
,@Session	as nvarchar(128)	= null -- 'SOTIVOLI'
,@Option	as nvarchar(256)	= null -- 'List Only'
	AS BEGIN

-- ********** STEP 0: Инициализация ********** --

-- 0.1 Определение переменных

declare  @Version	as nvarchar(30)		= 'XE_Merge v5.1'
		,@List		as bit				= 'False'
		,@Only		as bit				= 'False'
		,@NoClear   as bit				= 'False'
		,@LF		as nvarchar(2)		= ' ' + nchar(10)
		,@Type		as nvarchar(128)
		,@Cmd		as nvarchar(max)
		,@ParamDef	as nvarchar(max)
		,@Cnt		as int
		,@Table		as nvarchar(128)

-- 0.2 Установка опций

if upper(' ' + @Option + ' ') like upper(N'% ' + 'List'		+' %')	Set @List	 = 'True'
if upper(' ' + @Option + ' ') like upper(N'% ' + 'Only'		+' %')	Set @Only	 = 'True'
if upper(' ' + @Option + ' ') like upper(N'% ' + 'NoClear'	+' %')	Set @NoClear = 'True'

-- 0.4 Печать диагностической информации

if @List = 'True' exec	[dbo].[XE_PrintParams]	 @Caller		= @Version
												,@Steps			= @Steps
												,@Option		= @Option
												,@Source		= @Source

-- 0. Цикл по таблицам из @Steps

set @Steps = replace(replace(REPLACE(@Steps, nchar(10), ' '), NCHAR(09), ' '), NCHAR(13), ' ')

while len(ltrim(rtrim(@Steps))) > 0
	begin	-- Merge Dictionary loop ============
		set @Table = LEFT(ltrim(rtrim(@Steps)) + ' ', patindex('% %', ltrim(rtrim(@Steps)) + ' ')-1)
		set @Steps = RIGHT(ltrim(rtrim(@Steps)) + ' ', len(@Steps) - len(@Table) - 1)

if @List = 'True' print '***   ' + @Version + ' Слияние с таблицей ' + @Table

-- 0.3 Проверка входного параметра

Set @Type = ltrim(rtrim(replace(upper(parsename(@Table,1)), 'XED_', '')))

print '!!! @Type = <' + @Type + '>' + ',   @Table = <' + @Table + '>'

if 
  N' ' 
+ N'Application Database Event Exec Hash Host Output Result Session Source Table User' 
+ N' ' 
	not like N'% ' + @Type +N' %' 
	begin -- incorect table name
		Set @Cmd =
			 N'*** ' + @Version + ' Error: Некорректное имя таблицы в параметре @Table="' 
			+ coalesce(@Table, '<null>')
			+N'", обработка невозможна."'
		RAISERROR(@Cmd, 16, 1)
		return
	end	-- incorect table name


if @NoClear <> 'TRUE' and @Only = 'False' 
	execute [dbo].[XE_ExecLog]	 @Proc    = '[dbo].[XE_Clear]', @Caller = @Version
								,@Session = @Session
								,@Option  = @Option
								,@Table   = @Table

-- ********** STEP 2: Формирование команды на слияние ********** --


Set @Cmd = 

-- ============== Команда Merge и таблица Target =================

 N'merge '  + @Table + N' as target' + @LF

-- ==============  таблица Source =================

+N'    using'								+ @LF
+N'        ('								+ @LF
+N'         select '						+ @LF
+case 
		when UPPER('Application')	= @Type then
 N' [Client_app_name]  as [Application]'		+ @LF

		when UPPER('Database')		= @Type then
 N' [Database_name] as [Database_name]'		+ @LF
+N',[DatabaseID]    as [DatabaseID]'		+ @LF

		when UPPER('Event')			= @Type then
 N' ''' + @Session + N''' as [Session]'		+ @LF
+N',[Package]	as [Package]'				+ @LF
+N',[Event]		as [Event]'					+ @LF

		when UPPER('Exec')			= @Type then
 N' [Exec_Server]	as [Exec_Server]'		+ @LF
+N',[Exec_DB]		as [Exec_DB]'			+ @LF
+N',[Exec_Schema]	as [Exec_Schema]'		+ @LF
+N',[Exec_Name]		as [Exec_Name]'			+ @LF

		when UPPER('Hash')			= @Type then
 N' [Hash]         as [Hash]'				+ @LF
+N',min([HashText])  as [HashText]'			+ @LF
+N',min([e].[Exec#]) as [Exec#]'			+ @LF
+N',min([t].[Table#]) as [Table#]'			+ @LF

		when UPPER('Host')			= @Type then
 N' [HostName]		as [HostName]'			+ @LF

		when UPPER('Output')		= @Type then
 N' coalesce([Output_parameters], '''')  as [Output_parameters]' + @LF

		when UPPER('Result')		= @Type then
 N' coalesce([Result_Code], '''')	as [Result_Code]'	+ @LF
+N',[Result_Text]	as [Result_Text]'		+ @LF

		when UPPER('Session')		= @Type then
 N' ''' + @Session + N''' as [Session]'		+ @LF

		when UPPER('Table')			= @Type then
 N' [Table_Server]	as [Table_Server]'		+ @LF
+N',[Table_DB]		as [Table_DB]'			+ @LF
+N',[Table_Schema]	as [Table_Schema]'		+ @LF
+N',[Table_Name]	as [Table_Name]'		+ @LF

		when UPPER('User')			= @Type then
 N' case' + @LF
+N'    when [Nt_username] is null then '''' ' + @LF
+N'    else substring([Nt_username], patindex(N''%\%'',[Nt_username])+1, 8000)' + @LF
+N'    end as [Nt_username]'				+ @LF
+N',case'									+ @LF
+N'    when [Nt_username] is null then ''' + N''' ' + @LF
+N'    else substring([Nt_username], 0, patindex(N''%\%'',[Nt_username]))' + @LF
+N'    end as [Nt_AD]' + @LF
+N',case '+nchar(10)
+N'    when [LoginName] is null then '''' ' + @LF
+N'    else substring([LoginName], patindex(N''%\%'',[LoginName])+1, 8000)' + @LF
+N'    end as [LoginName]' + @LF
+N',case' + @LF
+N'    when [LoginName] is null then ''' + N''' ' + @LF
+N'    else substring([LoginName], 0, patindex(N''%\%'',[LoginName]))' + @LF
+N'    end as [Login_AD]' + @LF
		else N'*** error 1 **'
		end

+N',max(cast([DateTime_Stop] as date))         as [Date] '			+ @LF
+N',min(cast([DateTime_Start] as date))        as [First_Date]'		+ @LF
+N',count (1)                                  as [Cnt]'			+ @LF

+case 
		when UPPER('Hash')			= @Type then
 N',min([TextData])		as [TextData]'		+ @LF
+N',min([Text])			as [Text]'			+ @LF
		else N''
		end

-- ============== Таблица Source: блок FROM  =================

+N'             from  ' + @Source + N' as [s]' + @LF
-- Слияние таблиц с данными о таблицах и процедурах для XEd_Hash
+ case	
	when @Type = upper('Hash') then	
+N'             left join [dbo].[XEd_Exec] as [e] on' + @LF
+N'(' +@LF
+N'    [e].[Exec_Server] = [s].[Exec_Server]'	+ @LF
+N'and [e].[Exec_DB]     = [s].[Exec_DB]'		+ @LF
+N'and [e].[Exec_Schema] = [s].[Exec_Schema]'	+ @LF
+N'and [e].[Exec_Name]   = [s].[Exec_Name]'		+ @LF
+N')' +@LF
+N'             left join [dbo].[XEd_Table] as [t] on' +@LF
+N'(' +@LF
+N'    [t].[Table_Server] = [s].[Table_Server]'		+ @LF
+N'and [t].[Table_DB]     = [s].[Table_DB]'			+ @LF
+N'and [t].[Table_Schema] = [s].[Table_Schema]'		+ @LF
+N'and [t].[Table_Name]   = [s].[Table_Name]'		+ @LF
+N')' + @LF
	else N''
	end

-- ============== Условие Where и группировка =================

+case 
		when UPPER('Application')	= @Type then
 N'             where [Client_app_name]  is not null' + @LF	
+N'             group by [Client_app_name] '			 + @LF	

		when UPPER('Database')		= @Type then
 N'             where [Database_name] is not null'		+ @LF	
+N'               and [DatabaseID]    is not null'		+ @LF	
+N'             group by [Database_name], [DatabaseID]'	+ @LF	

		when UPPER('Event')			= @Type then
 N'             where [Event] is not null'				+ @LF	
+N'             group by [Session], [Package], [Event]'	+ @LF	

		when UPPER('Exec')			= @Type then
 N'             where [Exec_Name] is not null'			+ @LF	
+N'             group by [Exec_Name], [Exec_Schema], [Exec_DB], [Exec_Server]'			+ @LF	

		when UPPER('Hash')			= @Type then
 N'             where [Hash] is not null'				+ @LF	
+N'             group by [Hash]'						+ @LF	

		when UPPER('Host')			= @Type then
+N'             where [HostName] is not null'			+ @LF	
+N'             group by [HostName]'					+ @LF	

		when UPPER('Output')		= @Type then
 N'    where [Output_parameters] is not null'			+ @LF	
+N'    group by [Output_parameters]'					+ @LF	

		when UPPER('Result')		= @Type then
 N'             where [Result_Code] is not null'		+ @LF
+N'               and [Result_Text] is not null'		+ @LF
+N'             group by [Result_Code], [Result_Text]'	+ @LF	

		when UPPER('Session')		= @Type then
+N'             where [Session] is not null'			+ @LF	
+N'             group by [Session]'						+ @LF	

		when UPPER('Table')			= @Type then
+N'             where [Table_Name] is not null'			+ @LF	
+N'             group by [Table_Name], [Table_Schema], [Table_DB], [Table_Server]'	+ @LF	

		when UPPER('User')			= @Type then
+N'             where [LoginName]        is not null'	+ @LF
+N'                or [Nt_username]	    is not null'	+ @LF
+N'             group by [Nt_username], [LoginName]'	+ @LF	
	else N'*** error 3 **'
		end
		
+N'        )'		+ @LF
+N'    as source'	+ @LF
+N'('				+ @LF

-- ============== Описание структуры Source =================
-- +' ' + @1 + @LF

+case 
		when UPPER('Application')	= @Type then
 N' [Application]'			+ @LF

		when UPPER('Database')		= @Type then
 N' [Database_name]'		+ @LF
+N',[DatabaseID]'			+ @LF

		when UPPER('Event')			= @Type then
 N' [Session]'		+ @LF
+N',[Package]'				+@LF
+N',[Event]'				+@LF

		when UPPER('Exec')			= @Type then
 N' [Exec_Server]'			+ @LF
+N',[Exec_DB]'				+ @LF
+N',[Exec_Schema]'			+ @LF
+N',[Exec_Name]'			+ @LF

		when UPPER('Hash')			= @Type then
 N' [Hash]'					+ @LF
+N',[HashText]'				+ @LF
+N',[Exec#]'				+ @LF
+N',[Table#]'				+ @LF

		when UPPER('Host')			= @Type then
 N' [HostName]'				+ @LF

		when UPPER('Output')		= @Type then
 N' [Output_parameters]'	+ @LF

		when UPPER('Result')		= @Type then
 N' [Result_Code]'			+ @LF
+N',[Result_Text]'			+ @LF

		when UPPER('Session')		= @Type then
 N' [Session]'				+ @LF

		when UPPER('Table')			= @Type then
 N' [Table_Server]'			+ @LF
+N',[Table_DB]'				+ @LF
+N',[Table_Schema]'			+ @LF
+N',[Table_Name]'			+ @LF

		when UPPER('User')			= @Type then
 N' [Nt_username]'			+ @LF
+N',[Nt_AD]'				+ @LF
+N',[LoginName]'			+ @LF
+N',[Login_AD]'				+ @LF
	else N'*** error 4 **'
		end

+N',[Date]'					+ @LF
+N',[First_Date]'			+ @LF
+N',[Cnt]'					+ @LF

+case 
		when UPPER('Hash')			= @Type then
 N',[TextData]'				+ @LF
+N',[Text]'					+ @LF
		else N''
		end

+N')' + @LF 

-- ============== Условие совпадения Source и Target  =================

+N'    on '					+ @LF
+N'        ('				+@LF

+case 
		when UPPER('Application')	= @Type then
 N'         target.[Application] = source.[Application]'	+ @LF

		when UPPER('Database')		= @Type then
 N'         target.[Database_name] = source.[Database_name]'+ @LF
+N'     and target.[DatabaseID]    = source.[DatabaseID]'	+ @LF

		when UPPER('Event')			= @Type then
 N'         target.[Session] = source.[Session]'			+ @LF
+N'     and target.[Package] = source.[Package]'			+ @LF
+N'     and target.[Event]   = source.[Event]'				+ @LF

		when UPPER('Exec')			= @Type then
 N'         target.[Exec_Server]  = source.[Exec_Server]'	+ @LF
+N'     and target.[Exec_DB]      = source.[Exec_DB]'		+ @LF
+N'     and target.[Exec_Schema]  = source.[Exec_Schema]'	+ @LF
+N'     and target.[Exec_Name]    = source.[Exec_Name]'		+ @LF

		when UPPER('Hash')			= @Type then
 N'         target.[Hash] = source.[Hash]'			+ @LF

		when UPPER('Host')			= @Type then
 N'         target.[HostName] = source.[HostName]'			+ @LF

		when UPPER('Output')		= @Type then
 N'         target.[Output_parameters] = source.[Output_parameters]'	+ @LF

		when UPPER('Result')		= @Type then
 N'         target.[Result_Code] = source.[Result_Code]'	+ @LF
+N'     and target.[Result_Text] = source.[Result_Text]'	+ @LF

		when UPPER('Session')		= @Type then
 N'         target.[Session] = source.[Session]'			+ @LF

		when UPPER('Table')			= @Type then
 N'         target.[Table_Server] = source.[Table_Server]'	+ @LF
+N'     and target.[Table_DB]     = source.[Table_DB]'		+ @LF
+N'     and target.[Table_Schema] = source.[Table_Schema]'	+ @LF
+N'     and target.[Table_Name]   = source.[Table_Name]'	+ @LF

		when UPPER('User')			= @Type then
 N'         target.[Nt_username] = source.[Nt_username]'	+ @LF
+N'     and target.[Nt_AD]       = source.[Nt_AD]'			+ @LF
+N'     and target.[LoginName]   = source.[LoginName]'		+ @LF
+N'     and target.[Login_AD]    = source.[Login_AD]'		+ @LF
	else N'*** error 5 **'
		end

+N'        )'	+ @LF


-- ============== Действия при совпадении (обновление статистики)  =================

+N'    when matched then update set'								+ @LF 
+N'        target.[Date]       = source.[Date],'					+ @LF
+N'        target.[First_Date] = case'								+ @LF 
+N'            when source.[First_Date] < target.[First_Date]'		+ @LF  
+N'                then	source.[First_Date]'						+ @LF
+N'                else    target.[First_Date]'						+ @LF
+N'                end,'											+ @LF
+N'        target.[Cnt]	='											+ @LF 
+N'				case'												+ @LF 
+N'					when source.[Cnt] < 10000000000000000000'		+ @LF 
+N'						then target.[Cnt] + source.[Cnt]'			+ @LF 
+N'						else 10000000000000000000'					+ @LF 
+N'						end'										+ @LF

-- ============== Действия при не совпадении (добавление данных)  =================

+N'    when not matched'		+ @LF 
+N'        then insert values'	+ @LF
+N'('							+ @LF


+case 
		when UPPER('Application')	= @Type then
 N' source.[Application]'				+ @LF

		when UPPER('Database')		= @Type then
 N' source.[Database_name]'				+ @LF
+N',source.[DatabaseID]'				+ @LF

		when UPPER('Event')			= @Type then
 N' source.[Session]'					+ @LF
+N',source.[Package]'					+ @LF
+N',source.[Event]'						+ @LF

		when UPPER('Exec')			= @Type then
 N' source.[Exec_Server]'				+ @LF
+N',source.[Exec_DB]'					+ @LF
+N',source.[Exec_Schema]'				+ @LF
+N',source.[Exec_Name]'					+ @LF

		when UPPER('Hash')			= @Type then
 N' source.[Hash]'						+ @LF
+N',source.[HashText]'					+ @LF
+N',source.[Exec#]'						+ @LF
+N',source.[Table#]'					+ @LF

		when UPPER('Host')			= @Type then
 N' source.[HostName]'					+ @LF

		when UPPER('Output')		= @Type then
 N' source.[Output_parameters]'			+ @LF

		when UPPER('Result')		= @Type then
 N' source.[Result_Code]'				+ @LF
+N',source.[Result_Text]'				+ @LF

		when UPPER('Session')		= @Type then
 N' source.[Session]'					+ @LF

		when UPPER('Table')			= @Type then
 N' source.[Table_Server]'				+ @LF
+N',source.[Table_DB]'					+ @LF
+N',source.[Table_Schema]'				+ @LF
+N',source.[Table_Name]'				+ @LF

		when UPPER('User')			= @Type then
 N' source.[Nt_username]'				+ @LF
+N',source.[Nt_AD]'						+ @LF
+N',source.[LoginName]'					+ @LF
+N',source.[Login_AD]'					+ @LF
	else N'*** error 6 **'
		end

+N',source.[Date]'						+ @LF
+N',source.[First_Date]'				+ @LF
+N',source.[Cnt]'						+ @LF

+ case 
	when @Type = upper('Hash') then
				+N',source.[TextData]'	+ @LF 
				+N',source.[Text]'		+ @LF
	else		 N''
	end

-- ============== Завершение запроса =================

+N');'

-- ********* STEP 3: Информационный вывод ********** --

if @List = 'True' 
	begin -- List
		print '***   ' + @Version + ' Information:   @Cmd = '
		print @Cmd
	end -- List

if @Only = 'True' return

-- ********** STEP 4: Выполнение команды ********** --

EXECUTE sp_executesql @Cmd 

	end	-- Merge Dictionary loop ==============

	END -- [dbo].[XE_Merge]